<page-title>{{ 'memberCard.title' | translate }}</page-title>
<div class="row">
    <basic-panel title="memberCard.panelEdit.title" title-small="memberCard.panel.subtitle" size="12" id="membercard-editor">
        <panel-menu>
            <ul class="nav navbar-right panel_toolbox x_menu-right pull-right">
                <li class="pull-right"><a class="collapse-link" ng-click="vm.save();"><i class="fa fa-hdd-o"></i></a></li>
            </ul>
        </panel-menu>
        <panel-body>
            <div class="col-xs-12" ui-codemirror="vm.editorOptions" ng-model="vm.cardDesign"></div>
        </panel-body>
    </basic-panel>

    <basic-panel title="memberCard.panelPreview.title" size="12" id="membercard-preview">
        <panel-menu>
            <ul class="nav navbar-right panel_toolbox x_menu-right pull-right">
                <li class="pull-right"><a class="collapse-link" ng-click="vm.print();"><i class="fa fa-print"></i></a></li>
            </ul>
        </panel-menu>
        <panel-body>
            <div ng-bind-html="vm.getHtml(vm.cardDesign)"></div>
        </panel-body>
    </basic-panel>
</div>
