@charset "UTF-8";

body {
    background-color: #F7F7F7;
}

.hover-pointer{
    cursor: pointer;
}

img {
    object-fit: cover;
}

.img-circle.profile_img {
    width: 50px;
    height: 50px;
}

#user-detail-naw .form-group {
    margin-bottom: 10px;
}

.menu_fixed {
    top: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.preview_wrapper, .preview {
    overflow: hidden;
    width: 100px;
    height: 100px;
}