<div class="col-md-{{ attrs.size }} col-sm-{{ attrs.size }} col-xs-{{ attrs.size }}">
    <div class="x_panel" id="{{ attrs.id }}">
        <div class="x_title" ng-if="attrs.showTitle">
            <h2>{{ attrs.title | translate}}
                <small ng-if="attrs.titleSmall">{{ attrs.titleSmall | translate}}</small>
            </h2>
            <div ng-transclude="menu"></div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div ng-transclude="body"></div>
        </div>
    </div>
</div>