<link rel="stylesheet" href="css/profile.css">

<page-title>{{ 'users.create.title' | translate }}</page-title>

<div class="row">
    <basic-panel title="" size="12" title-small="users.create.panel.subtitle" id="user-create">
        <panel-menu>
            <ul class="nav navbar-right panel_toolbox x_menu-right pull-right">
                <li class="pull-right"><a class="collapse-link" ng-click="vm.cancel();"><i class="fa fa-times text-danger"></i></a></li>
            </ul>
        </panel-menu>
        <panel-body>
            <div id="wizard_verticle" class="form_wizard wizard_verticle" options="vm.wizardOptions">
                <ul class="list-unstyled wizard_steps">
                    <li>
                        <a href="#basic-info">
                            <span class="step_no">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#contact-info">
                            <span class="step_no">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#details">
                            <span class="step_no">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#user-photo">
                            <span class="step_no">4</span>
                        </a>
                    </li>
                    <li>
                        <a href="#overview">
                            <span class="step_no">5</span>
                        </a>
                    </li>
                </ul>

                <div id="basic-info">
                    <form id="basic-info-form" class="form-horizontal form-label-left">
                        <h2 class="StepTitle">{{ 'users.fields.basic.title' | translate }}</h2>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ 'users.fields.basic.firstName' | translate }} <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="first-name" ng-model="vm.user.firstName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prefix-last-lane">{{ 'users.fields.basic.prefixLastName' | translate }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="prefix-last-lane" ng-model="vm.user.prefixLastName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{ 'users.fields.basic.lastName' | translate }} <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name" name="last-name" ng-model="vm.user.lastName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.basic.gender.label' | translate }} <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="flat" ng-model="vm.user.gender" value="MALE" name="gender" i-check> {{ 'users.fields.basic.gender.male' | translate }}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="flat" ng-model="vm.user.gender" value="FEMALE" name="gender" i-check> {{ 'users.fields.basic.gender.female' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.basic.dateOfBirth' | translate }} <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="birthday" ng-model="vm.temp.birthday" class="bootstrap-daterangepicker date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </form>
                </div>

                <div id="contact-info">
                    <form id="contact-info-form" class="form-horizontal form-label-left">
                        <h2 class="StepTitle">{{ 'users.fields.contact.title' | translate }}</h2>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">{{ 'users.fields.contact.email' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" id="email" name="email" ng-model="vm.user.email" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone1">{{ 'users.fields.contact.phone1' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="phone1" name="phone1" ng-model="vm.user.phone1" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone2">{{ 'users.fields.contact.phone2' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="phone2" name="phone2" ng-model="vm.user.phone2" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="street">{{ 'users.fields.contact.street' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="street" name="street" ng-model="vm.address.street" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="houseNumber">{{ 'users.fields.contact.houseNumber' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="houseNumber" name="houseNumber" ng-model="vm.address.houseNumber" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="houseNumberAddition">{{ 'users.fields.contact.houseNumberAddition' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="houseNumberAddition" name="houseNumberAddition" ng-model="vm.address.houseNumberAddition" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">{{ 'users.fields.contact.city' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="city" name="street" ng-model="vm.address.city" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipcode">{{ 'users.fields.contact.zipcode' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="zipcode" name="zipcode" ng-model="vm.address.zipcode" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">{{ 'users.fields.contact.country' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="country" name="country" ng-model="vm.address.country" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </form>

                </div>

                <div id="details">
                    <form id="details-form" class="form-horizontal form-label-left">
                        <h2 class="StepTitle">{{ 'users.fields.extra.title' | translate }}</h2>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="member">{{ 'users.fields.extra.membershipType' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="member" name="member" ng-model="vm.extended.member" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.extra.brevet.label' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="flat" ng-model="vm.temp.brevet.a" value="A" i-check> {{ 'users.fields.extra.brevet.enginePlane' | translate }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="flat" ng-model="vm.temp.brevet.b" value="B" i-check> {{ 'users.fields.extra.brevet.glider' | translate }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="flat" ng-model="vm.temp.brevet.c" value="C" i-check> {{ 'users.fields.extra.brevet.helicopter' | translate }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="flat" ng-model="vm.temp.brevet.d" value="D" i-check> {{ 'users.fields.extra.brevet.multicopter' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                    </form>

                </div>

                <div id="user-photo">
                    <form id="user-photo-form" class="form-horizontal form-label-left">
                        <h2 class="StepTitle">{{ 'users.fields.photo.title' | translate }}</h2>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <cropper id="user-profile" options="vm.cropperOptions"></cropper>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </form>
                </div>

                <div id="overview">
                    <h2 class="StepTitle">{{ 'users.create.panel.wizard.step5.title' | translate }}</h2>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <img ng-src="{{ vm.user.photo }}" class="col-xs-6 text-center col-md-12 img-circle"/>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <h4>Basic Info</h4>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.basic.fullName' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.user.firstName | fullname:vm.user.prefixLastName:vm.user.lastName }}</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.basic.gender.label' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.user.gender | gender }}</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.basic.dateOfBirth' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.temp.birthday }}</span>
                        </div>
                        <h4>{{ 'users.fields.contact.title' | translate }}</h4>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.contact.email' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.user.email }}</span>
                        </div>

                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.contact.phone1' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.user.phone1 }}</span>
                        </div>

                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.contact.phone2' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.user.phone2 }}</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.contact.address' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.address.street }} {{ vm.address.houseNumber }}<span ng-if="vm.address.houseNumberAddition">{{ vm.user.address.houseNumberAddition }}</span></span>
                            <span class="col-md-9 col-md-offset-3 col-xs-12">{{ vm.address.zipcode }}, {{ vm.address.city }}</span>
                            <span class="col-md-9 col-md-offset-3 col-xs-12">{{ vm.address.country }}</span>
                        </div>
                        <h4>{{ 'users.fields.extra.title' | translate }}</h4>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.extra.membershipType' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.extended.member }}</span>
                        </div>
                        <div class="col-xs-12">
                            <label class="col-md-3 col-xs-12">{{ 'users.fields.extra.brevet.label' | translate }}</label>
                            <span class="col-md-9 col-xs-12">{{ vm.determineBrevet() }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <button type="submit" ng-click="vm.saveUser();" class="btn btn-success pull-right">{{ 'buttons.submit' | translate }}</button>
                        <button type="submit" ng-click="vm.cancel();" class="btn btn-primary pull-right">{{ 'buttons.cancel' | translate }}</button>
                    </div>
                    <div class="col-xs-12 ln_solid"></div>
                </div>

            </div>
        </panel-body>
    </basic-panel>
</div>
