<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>{{vm.user.fullName}}
                <small>{{vm.user.identification}}</small>
            </h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel" id="user-detail-naw">
                <div class="x_title">
                    <h2>NAW gegevens
                    </h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="firstName" class="col-md-4">Naam</label>
                            <label for="prefixLastName" class="col-md-4">Tussenvoegsel</label>
                            <label for="lastName" class="col-md-4">Achternaam</label>
                            <div class="col-md-4">
                                <input type="firstName" class="form-control" id="firstName" value="{{vm.user.firstName}}">
                            </div>
                            <div class="col-md-4">
                                <input type="prefixLastName" class="form-control" id="prefixLastName" value="{{vm.user.prefixLastName}}">
                            </div>
                            <div class="col-md-4">
                                <input type="lastName" class="form-control" id="lastName" value="{{vm.user.lastName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="street" class="col-md-4">Straat</label>
                            <label for="houseNumber" class="col-md-4">Huisnummer</label>
                            <label for="houseNumberAddition" class="col-md-4">toevoeging</label>
                            <div class="col-md-4">
                                <input type="street" class="form-control" id="street" value="{{vm.user.address[0].street}}">
                            </div>
                            <div class="col-md-4">
                                <input type="houseNumber" class="form-control" id="houseNumber" value="{{vm.user.address[0].houseNumber}}">
                            </div>
                            <div class="col-md-4">
                                <input type="houseNumberAddition" class="form-control" id="houseNumberAddition" value="{{vm.user.address[0].houseNumberAddition}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Button Example
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>