<div class="">
    <page-title>{{ 'users.index.title' | translate }}</page-title>

    <div class="row">
        <basic-panel title="users.index.panel.list.title" size="12" id="users-list">
            <panel-menu>
                <ul class="nav navbar-right panel_toolbox x_menu-right pull-right">
                    <li class="pull-right"><a href="#create/user" class="collapse-link"><i class="fa fa-plus"></i></a></li>
                    <li class="pull-right"><a ng-click="vm.printMembercards()" class="collapse-link"><i class="fa fa-id-card-o"></i></a></li>
                    <li class="pull-right"><a ng-click="vm.printMemberList()" class="collapse-link"><i class="fa fa-list"></i></a></li>
                </ul>
            </panel-menu>
            <panel-body>
                <p class="text-muted font-13 m-b-30" translate="users.index.panel.list.paragraph">
            </p>
                <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="row-border hover table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'users.fields.basic.identification' | translate }}</th>
                        <th>{{ 'users.fields.basic.firstName' | translate }}</th>
                        <th>{{ 'users.fields.basic.prefixLastName' | translate }}</th>
                        <th>{{ 'users.fields.basic.lastName' | translate }}</th>
                    </tr>
                    </thead>
                </table>
            </panel-body>
        </basic-panel>
    </div>
</div>
