<link rel="stylesheet" href="css/profile.css">

<page-title>{{ 'users.profile.title' | translate }}</page-title>

<div class="row">
    <basic-panel title="{{ vm.user.firstName | fullname:vm.user.prefixLastName:vm.user.lastName }}" size="12" title-small="{{ vm.user.identification }}" id="user-profile" ng-if="!vm.edit">
        <panel-menu>
            <ul class="nav navbar-right panel_toolbox x_menu-right pull-right" ng-if="vm.allowed">
                <li class="pull-right" ng-click="vm.editProfile();"><a class="collapse-link"><i class="fa fa-pencil-square-o"></i></a></li>
                <li class="pull-right" ng-click="vm.deleteUser(vm.user.id);"><a class="collapse-link"><i class="fa fa-trash-o"></i></a></li>
            </ul>
        </panel-menu>
        <panel-body>
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                    <img class="img-responsive avatar-view" ng-src="{{ vm.user.photo }}" alt="Avatar" title="Change the avatar">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-user-circle-o fa-fw"></i> {{ vm.user.firstName | fullname:vm.user.prefixLastName:vm.user.lastName }}</li>
                        <li><i class="fa fa-calendar fa-fw"></i> {{ vm.user.dateOfBirth | date:'dd/MM/yyyy'}}</li>
                        <li><i class="fa fa-fw" ng-class="vm.user.gender.name.toLowerCase() === 'male'? 'fa-mars':'fa-venus'"></i> {{ 'users.fields.basic.gender.' + vm.user.gender.name.toLowerCase() | translate }}</li>
                    </ul>

                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-envelope fa-fw"></i> <a href="mailto:{{ vm.user.email }}">{{ vm.user.email }}</a></li>
                        <li><i class="fa fa-phone fa-fw"></i> <a href="tel:{{ vm.user.phone1 }}">{{ vm.user.phone1 | phone}}</a></li>
                        <li><i class="fa fa-phone-square fa-fw"></i> <a href="tel:{{ vm.user.phone2 }}">{{ vm.user.phone2 | phone}}</a></li>
                    </ul>

                    <ul class="list-unstyled user_data">
                        <li ng-repeat="address in vm.user.address">
                            <a href="http://maps.google.com/?q={{ address.street }}+{{ address.houseNumber }}{{ address.houseNumberAddition }},+{{ address.city }}" target="_blank">
                                <table>
                                    <tr>
                                        <td><i class="fa fa-map-marker fa-fw"></i></td>
                                        <td>{{ address.street }} {{ address.houseNumber }}{{ address.houseNumberAddition }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ address.zipcode }}, {{ address.city }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ address.country | country}}</td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-id-badge fa-fw"></i> {{ vm.user.identification}}</li>
                        <li><i class="fa fa-users fa-fw"></i> {{ vm.findProp(vm.user, 'membershipType') }}</li>
                    </ul>

                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-graduation-cap fa-fw"></i> {{ vm.findProp(vm.user, 'brevet') }}</li>
                    </ul>
                </div>


            </div>
        </panel-body>
    </basic-panel>

    <basic-panel title="{{ vm.user.firstName | fullname:vm.user.prefixLastName:vm.user.lastName }}" size="12" title-small="users." id="user-profile-edit" ng-if="vm.edit">
        <panel-menu>
            <ul class="nav navbar-right panel_toolbox x_menu-right pull-right" ng-if="vm.allowed">
                <li class="pull-right" ng-click="vm.cancelEditProfile();"><a class="collapse-link"><i class="fa fa-times text-danger"></i></a></li>
                <li class="pull-right" ng-click="vm.saveProfile();"><a class="collapse-link"><i class="fa fa-check text-success"></i></a></li>
            </ul>
        </panel-menu>
        <panel-body>
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                <wizard on-finish="vm.cancelEditProfile()" edit-mode="true" indicators-position="top">
                    <wz-step wz-title="{{ 'users.fields.basic.title' | translate }}">
                        <h3>{{ 'users.fields.basic.title' | translate }}</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ 'users.fields.basic.firstName' | translate }} <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="first-name" ng-model="vm.editableUser.firstName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prefix-last-lane">{{ 'users.fields.basic.prefixLastName' | translate }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="prefix-last-lane" ng-model="vm.editableUser.prefixLastName" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{ 'users.fields.basic.lastName' | translate }} <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name" name="last-name" ng-model="vm.editableUser.lastName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.basic.gender.label' | translate }} <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="flat" ng-model="vm.editableUser.gender.name" value="MALE" name="gender" i-check> {{ 'users.fields.basic.gender.male' | translate }}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" class="flat" ng-model="vm.editableUser.gender.name" value="FEMALE" name="gender" i-check> {{ 'users.fields.basic.gender.female' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.basic.dateOfBirth' | translate }} <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="birthday" ng-model="vm.editableUser.dateOfBirth" class="bootstrap-daterangepicker date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>
                        </div>
                    </wz-step>
                    <wz-step wz-title="{{ 'users.fields.contact.title' | translate }}">
                        <h3>{{ 'users.fields.contact.title' | translate }}</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">{{ 'users.fields.contact.email' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" id="email" name="email" ng-model="vm.editableUser.email" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone1">{{ 'users.fields.contact.phone1' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="phone1" name="phone1" ng-model="vm.editableUser.phone1" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone2">{{ 'users.fields.contact.phone2' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="phone2" name="phone2" ng-model="vm.editableUser.phone2" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="street">{{ 'users.fields.contact.street' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="street" name="street" ng-model="vm.editableUser.address[0].street" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="houseNumber">{{ 'users.fields.contact.houseNumber' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="houseNumber" name="houseNumber" ng-model="vm.editableUser.address[0].houseNumber" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="houseNumberAddition">{{ 'users.fields.contact.houseNumberAddition' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="houseNumberAddition" name="houseNumberAddition" ng-model="vm.address.houseNumberAddition" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">{{ 'users.fields.contact.city' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="city" name="street" ng-model="vm.editableUser.address[0].city" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipcode">{{ 'users.fields.contact.zipcode' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="zipcode" name="zipcode" ng-model="vm.editableUser.address[0].zipcode" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">{{ 'users.fields.contact.country' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="country" name="country" ng-model="vm.editableUser.address[0].country" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </wz-step>
                    <wz-step wz-title="{{ 'users.fields.extra.title' | translate }}">
                        <h3>{{ 'users.fields.extra.title' | translate }}</h3>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="member">{{ 'users.fields.extra.membershipType' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="member" name="member" ng-model="vm.editableUser.property.membershipType.value" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brevet">{{ 'users.fields.extra.brevet.label' | translate }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="brevet" name="brevet" ng-model="vm.editableUser.property.brevet.value" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </wz-step>
                    <wz-step wz-title="{{ 'users.fields.photo.title' | translate }}">
                        <h3>{{ 'users.fields.photo.title' | translate }}</h3>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <cropper id="user-profile-cropper" options="vm.cropperOptions"></cropper>
                            </div>
                        </div>
                    </wz-step>
                </wizard>
            </form>
            <!--
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ 'users.fields.firstName' | translate }} <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="first-name" ng-model="vm.editableUser.firstName" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prefix-last-lane">{{ 'users.fields.prefixLastName' | translate }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="prefix-last-lane" ng-model="vm.editableUser.prefixLastName" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{ 'users.fields.lastName' | translate }} <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="last-name" name="last-name" ng-model="vm.editableUser.lastName" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.gender.label' | translate }} <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" ng-model="vm.editableUser.gender" value="MALE" name="gender" i-check> {{ 'users.fields.gender.male' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" ng-model="vm.editableUser.gender" value="FEMALE" name="gender" i-check> {{ 'users.fields.gender.female' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'users.fields.dateOfBirth' | translate }} <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <datepicker date-format="dd/MM/yyyy" date-set="{{ vm.user.dateOfBirth}}">
                            <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" ng-model="vm.editableUser.dateOfBirth" type="text">
                        </datepicker>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone1">{{ 'users.fields.phone1' | translate }}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="phone1" data-inputmask="'mask' : '(999) 999-9999'" name="phone1" ng-model="vm.editableUser.phone1" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone2">{{ 'users.fields.phone2' | translate }}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="phone2" data-inputmask="'mask' : '(999) 999-9999'" name="phone2" ng-model="vm.editableUser.phone2" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" ng-click="vm.cancelEditProfile();" class="btn btn-primary">{{ 'buttons.cancel' | translate }}</button>
                        <button type="submit" ng-click="vm.saveProfile();" class="btn btn-success">{{ 'buttons.submit' | translate }}</button>
                    </div>
                </div>

            </form>
            -->
        </panel-body>
    </basic-panel>
</div>
