<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aero '79 | </title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/iCheck/skins/flat/green.css">
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="bower_components/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="bower_components/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="bower_components/jQuery-Smart-Wizard/styles/smart_wizard.css">
    <link rel="stylesheet" href="bower_components/jQuery-Smart-Wizard/styles/smart_wizard_vertical.css">
    <link rel="stylesheet" href="bower_components/cropper/dist/cropper.min.css">
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.css">
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.buttons.css">

    <!--Used from gentelella because PNotify forgot to include it in the bower dependency-->
    <link rel="stylesheet" href="bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.css">

    <link rel="stylesheet" href="css/angular-wizard/angular-wizard.min.css">

    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/custom.css">

</head>

<body class="nav-md footer_fixed" ng-controller="IndexController as vm" ng-cloak>

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="#/" class="site_title">
                        <i class="fa fa-plane"></i> <span>{{ 'title' | translate }}</span></a>
                </div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <!--<img src="img/logoAero.png" class="img-circle profile_img"/>-->
                        <img ng-src="{{ vm.user.photo }}" class="img-circle profile_img"/>
                    </div>
                    <div class="profile_info">
                        <h2><span>{{ 'greeting' | translate }},</span> {{ vm.user.firstName }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <p>&nbsp;</p>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>{{ 'nav.title' | translate }}</h3>
                        <ul class="nav side-menu">
                            <li><a href="#/"><i class="fa fa-home"></i> {{ 'nav.dashboard' | translate }}</a></li>
                            <li><a href="#users"><i class="fa fa-users"></i> {{ 'nav.members' | translate }}</a></li>
                            <li><a href="#membercards"><i class="fa fa-id-card-o"></i> {{ 'nav.memberCard' | translate }}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav navbar-fixed-top">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right" ng-cloak>
                        <li class="">
                            <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img ng-src="{{ vm.user.photo }}" alt="">{{ vm.user.firstName | fullname:vm.user.prefixLastName:vm.user.lastName}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="#profile/{{ vm.user.id }}"> {{ 'menu.profile' | translate }}</a></li>
                                <li>
                                    <a href="javascript:" ng-click="vm.changeLanguage('en')">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>{{ 'menu.settings' | translate }}</span>
                                    </a>
                                </li>
                                <li><a href="javascript:" ng-click="vm.changeLanguage('nl')"> {{ 'menu.help' | translate }}</a></li>
                                <li><a onclick="logout()"><i class="fa fa-sign-out pull-right"></i> {{ 'menu.logOut' | translate }}</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <!--<span class="badge bg-green">6</span>-->
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img ng-src="{{ vm.user.photo }}" alt="Profile Image"/></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>{{ 'menu.inbox.seeAll' | translate }}</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <div ng-view class="right_col" role="main" style="margin-top:50px;"></div>

        <!-- page content -->
        <!-- /page content -->

        <!-- footer content -->
        <!--<footer>-->
        <!--<div class="pull-right">-->
        <!--Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
        <!--</footer>-->
        <!-- /footer content -->
    </div>
</div>

<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="vendors/jquery/dist/jquery.min.js"></script>-->
<!--&lt;!&ndash; Datatables &ndash;&gt;-->
<!--<script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>-->
<!--<script src="vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>-->
<!--<script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>-->
<!--<script src="vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>-->
<!--<script src="vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>-->
<!--<script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>-->
<!--<script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>-->
<!--<script src="vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>-->
<!--<script src="vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>-->
<!--<script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>-->
<!--<script src="vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>-->
<!--&lt;!&ndash;<script src="vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>&ndash;&gt;-->
<!--<script src="vendors/jszip/dist/jszip.min.js"></script>-->
<!--<script src="vendors/pdfmake/build/pdfmake.min.js"></script>-->
<!--<script src="vendors/pdfmake/build/vfs_fonts.js"></script>-->
<!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; AngularJS &ndash;&gt;-->
<!--<script src="vendors/angular-1.5.8/angular.js"></script>-->
<!--<script src="vendors/angular-1.5.8/angular-route.js"></script>-->

<!--<script src="vendors/angular-datatables/dist/angular-datatables.js"></script>-->
<!--&lt;!&ndash; FastClick &ndash;&gt;-->
<!--<script src="vendors/fastclick/lib/fastclick.js"></script>-->
<!--&lt;!&ndash; NProgress &ndash;&gt;-->
<!--<script src="vendors/nprogress/nprogress.js"></script>-->
<!--&lt;!&ndash; Chart.js &ndash;&gt;-->
<!--<script src="vendors/Chart.js/dist/Chart.min.js"></script>-->
<!--&lt;!&ndash; gauge.js &ndash;&gt;-->
<!--<script src="vendors/bernii/gauge.js/dist/gauge.min.js"></script>-->
<!--&lt;!&ndash; bootstrap-progressbar &ndash;&gt;-->
<!--<script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>-->
<!--&lt;!&ndash; iCheck &ndash;&gt;-->
<!--<script src="vendors/iCheck/icheck.min.js"></script>-->
<!--&lt;!&ndash; Skycons &ndash;&gt;-->
<!--<script src="vendors/skycons/skycons.js"></script>-->
<!--&lt;!&ndash; Flot &ndash;&gt;-->
<!--<script src="vendors/Flot/jquery.flot.js"></script>-->
<!--<script src="vendors/Flot/jquery.flot.pie.js"></script>-->
<!--<script src="vendors/Flot/jquery.flot.time.js"></script>-->
<!--<script src="vendors/Flot/jquery.flot.stack.js"></script>-->
<!--<script src="vendors/Flot/jquery.flot.resize.js"></script>-->
<!--&lt;!&ndash; Flot plugins &ndash;&gt;-->
<!--<script src="js/flot/jquery.flot.orderBars.js"></script>-->
<!--<script src="js/flot/date.js"></script>-->
<!--<script src="js/flot/jquery.flot.spline.js"></script>-->
<!--<script src="js/flot/curvedLines.js"></script>-->
<!--&lt;!&ndash; jVectorMap &ndash;&gt;-->
<!--<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>-->
<!--&lt;!&ndash; bootstrap-daterangepicker &ndash;&gt;-->
<!--<script src="js/moment/moment.min.js"></script>-->
<!--<script src="js/datepicker/daterangepicker.js"></script>-->
<!-- Custom Theme Scripts -->
<!--<script src="build/js/custom.js"></script>-->


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="bower_components/jszip/dist/jszip.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/iCheck/icheck.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="bower_components/sockjs-client/dist/sockjs.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script src="bower_components/codemirror/lib/codemirror.js"></script>
<script src="bower_components/codemirror/addon/edit/matchbrackets.js"></script>
<script src="bower_components/codemirror/addon/edit/closebrackets.js"></script>
<script src="bower_components/codemirror/addon/edit/closetag.js"></script>
<script src="bower_components/codemirror/addon/edit/matchtags.js"></script>
<script src="bower_components/codemirror/mode/css/css.js"></script>
<script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="bower_components/codemirror/mode/xml/xml.js"></script>
<script src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script src="js/custom.js"></script>

<script src="js/authentication.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="js/i18n/nl.js"></script>
<script src="js/i18n/en.js"></script>


<script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="bower_components/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.js"></script>

<script src="bower_components/cropper/dist/cropper.min.js"></script>
<script src="bower_components/pnotify/dist/pnotify.js"></script>
<script src="bower_components/pnotify/dist/pnotify.buttons.js"></script>
<script src="bower_components/pnotify/dist/pnotify.nonblock.js"></script>
<script src="bower_components/pnotify/dist/pnotify.desktop.js"></script>
<script src="bower_components/jquery-knob/dist/jquery.knob.min.js"></script>

<script src="js/misc/countries/countries_nl.js"></script>
<script src="js/misc/defaultAvatar.js"></script>

<script src="js/module.js"></script>

<script src="js/directives/panel/basic-panel.js"></script>
<script src="js/directives/title/page-title.js"></script>
<script src="js/directives/widgets/iCheck.js"></script>
<script src="js/directives/widgets/bootstrap-daterangepicker.js"></script>
<script src="js/directives/widgets/form-wizard.js"></script>
<script src="js/directives/widgets/file-upload.js"></script>
<script src="js/directives/widgets/knob.js"></script>

<script src="js/directives/cropper/cropper.js"></script>

<script src="js/services/user.service.js"></script>
<script src="js/services/param.service.js"></script>
<script src="js/services/websocket.service.js"></script>
<script src="js/services/template.service.js"></script>
<script src="js/services/address.service.js"></script>
<script src="js/services/property.service.js"></script>

<script src="js/filters/CountryFilter.js"></script>
<script src="js/filters/NameFilter.js"></script>
<script src="js/filters/GenderFilter.js"></script>
<script src="js/filters/PhoneFilter.js"></script>

<script src="js/controllers/IndexController.js"></script>
<script src="js/controllers/DashboardController.js"></script>
<script src="js/controllers/users/UserController.js"></script>
<script src="js/controllers/users/UserProfileController.js"></script>
<script src="js/controllers/users/UserCreateController.js"></script>

<script src="js/controllers/UserDetailController.js"></script>
<script src="js/controllers/MembersCardController.js"></script>

</body>
</html>

