<div class="form-group">
    <div class="col-md-8">
        <img id="{{ attrs.id }}-img" style="max-height:300px;" class="source" alt="Profile Image"/>
    </div>
    <div class="col-md-4">
        <img id="{{ attrs.id }}-preview" class="preview"/>
    </div>
</div>

<div class="form-group">
    <div class="col-md-8">
        <div class="form-group">

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default zoom" zoom="-0.1"><i class="fa fa-search-minus"></i></button>
                    <button type="button" class="btn btn-default zoom" zoom="0.1"><i class="fa fa-search-plus"></i></button>
                </div>

                <div class="btn-group" role="group">
                    <button id="{{ attrs.id }}-crop" class="crop btn btn-primary">Crop</button>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <input class="knob" id="cropper-rotation" data-width="100" data-height="100" data-max="360" data-cursor=true data-fgColor="#34495E" value="0"></input>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <input type='file' id="{{ attrs.id }}-input"/>

    </div>
</div>